---
import Layout from "@layouts/Layout.astro";
import { keystatic } from "@lib/keystatic/client";
import invariant from "tiny-invariant";
import { marked } from "marked";

const i18n = await keystatic.singletons.homepage.read({
  resolveLinkedFiles: true,
});
invariant(i18n, "No homepage content found");
---

<Layout title={i18n.metadata.title} description={i18n.metadata.description}>
  <section
    class="container my-12 flex flex-col items-center rounded-xl text-center md:px-8"
  >
    <h2
      class="text-5xl font-medium text-balance md:text-7xl"
      set:html={marked.parseInline(i18n.callToAction.title)}
    />
  </section>
</Layout>

<script></script>
