---
import "../../styles/global.css";
import "./Button.css";
interface Props {
  disabled?: boolean;
  variant?: "primary" | "secondary-warm" | "secondary-neutral";
  type?: "button" | "submit" | "reset";
}

const { variant = "primary", disabled = false, type = "button" } = Astro.props;
---

<button
  class:list={[
    "astrobit-button",
    {
      "astrobit-button--disabled": disabled,
      "astrobit-button--primary": variant === "primary",
      "astrobit-button--secondary-warm": variant === "secondary-warm",
      "astrobit-button--secondary-neutral": variant === "secondary-neutral",
    },
  ]}
  disabled={disabled}
  type={type}
>
  <span class="astrobit-button__content">
    <slot />
  </span>
  <span class="astrobit-button__border astrobit-button__border--outer"></span>
  <span class="astrobit-button__border astrobit-button__border--inner"></span>
</button>
