@reference "../../styles/global.css";

.astrobit-card-container {
  @apply abtw:rounded-lg;

  position: relative;
  box-shadow: 1rem 1rem 0.1rem var(--astrobit-shadow);
  height: 100%;
}

.astrobit-card {
  @apply abtw:p-4 abtw:-ml-1.5;

  height: 100%;
  z-index: -1;
  top: 0.25rem;
  left: 0.25rem;
  position: relative;
  background-color: var(--astrobit-white);
  border-color: var(--astrobit-black);
  border-style: solid;
  border-width: 0.25rem;
  border-image: url("../../assets/pixel-diamond.svg");
  border-image-repeat: stretch;
  border-image-slice: 3 3 3 3;
  border-image-width: 2;
  color: var(--astrobit-black);
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--astrobit-font-family);
  text-decoration: none;
}
