---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import Button from "@components/Button.astro";
import Posts from "@components/Posts.astro";

export async function getStaticPaths() {
  const categories = await getCollection("blogCategories");
  const posts = await getCollection("blogPosts");

  return categories.map(({ id, data: category }) => ({
    params: { category: id },
    props: {
      category,
      entries: posts
        .filter((p) => p.data.categories.includes(id) && !p.data.isDraft)
        .sort(
          (a, b) =>
            (
              b.data.lastUpdatedAt ??
              b.data.createdAt ??
              new Date(0)
            ).valueOf() -
            (a.data.lastUpdatedAt ?? a.data.createdAt ?? new Date(0)).valueOf(),
        ),
    },
  }));
}

const { entries, category } = Astro.props;

const POSTS_PER_LOAD = 6;
---

<Layout
  title=`${category.name} posts - Patron Blog`
  ogDescription={category.description}
>
  <section
    class="bg-green cube-bg px-base mx-auto pt-[150px] pb-[80px] sm:pt-[200px] sm:pb-[160px]"
  >
    <div class="container-content flex flex-col gap-10">
      <h1>
        Category:
        {category.name}
      </h1>

      <Posts posts={entries} />

      {
        entries.length > POSTS_PER_LOAD && (
          <div class="flex justify-center">
            <Button id="show-more-btn">Show more</Button>
          </div>
        )
      }
    </div>
  </section>
</Layout>
