---
import Box from "@components/Box.astro";
import InfoIcon from "@lucide/astro/icons/info";
---

<Box class="w-max max-w-full">
  <div
    class="bg-purple grid w-full grid-cols-[24px_1fr] gap-4 px-5 py-3 sm:grid-cols-[32px_1fr] sm:gap-5 sm:px-5 sm:py-4"
  >
    <InfoIcon class="size-6 sm:size-8" />
    <slot />
  </div>
</Box>
