---
import Box from "@components/Box.astro";
import AlertTriangleIcon from "@lucide/astro/icons/triangle-alert";
---

<Box class="w-max max-w-full">
  <div
    class="bg-orange grid w-full grid-cols-[24px_1fr] gap-4 px-5 py-3 sm:grid-cols-[32px_1fr] sm:gap-5 sm:px-5 sm:py-4"
  >
    <AlertTriangleIcon class="size-6 sm:size-8" />
    <div class="flex flex-col gap-2">
      <p class="text-[16px] leading-6 font-bold sm:text-[20px] sm:leading-8">
        Attention needed
      </p>
      <div class="text-[14px] sm:text-[18px]">
        <slot />
      </div>
    </div>
  </div>
</Box>
