@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --color-blue: #265b92;
  --color-green: #00d6bd;
  --color-purple: #858deb;
  --color-orange: #f68615;
}

@theme {
  --font-display: "Albert Sans", sans-serif;

  --color-blue: var(--color-blue);
  --color-green: var(--color-green);
  --color-purple: var(--color-purple);
  --color-orange: var(--color-orange);

  --text-h1: 64px;
  --text-h2: 48px;
  --text-h3: 36px;
  --text-h4: 24px;
  --text-h5: 20px;

  --text-2xl: 36px;
  --text-2xl--line-height: 43px;
  --text-xl: 24px;
  --text-xl--line-height: 34px;
  --text-lg: 20px;
  --text-lg--line-height: 26px;
  --text-base: 18px;
  --text-base--line-height: 25px;
  --text-xs: 16px;
  --text-xs--line-height: 21px;

  --spacing-container: 1280px;

  --breakpoint-b1320: 1320px;

  --default-transition-timing-function: var(--ease-in-out);
  --default-transition-duration: 400ms;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Albert Sans", sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    font-weight: 500;
    color: black;
  }

  /* * {
    outline: 1px solid rgba(255, 255, 255, 0.4);
  } */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1 {
    @apply b1320:text-h1 text-[60px] leading-[77px];
  }

  h2 {
    @apply text-h2 leading-[58px];
  }

  h3 {
    @apply text-h3 leading-[43px];
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-h5;
  }
}

@layer components {
  .container-content {
    @apply mx-auto w-full max-w-[var(--spacing-container)];
    @media (width <= var(--spacing-container)) {
      width: 100%;
    }
  }
}

@theme {
  --animate-scroll: scroll 40s linear infinite;
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@utility border-md {
  border-image: url("../assets/border-md.svg") 3 1 1 stretch;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 1;
  border-image-width: 1;
  border-style: solid;
  border-width: 5px;
}

@utility border-border {
  border-image: url("../assets/border.svg") 3 1 1 stretch;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 1;
  border-image-width: 1;
  border-style: solid;
  border-width: 5px;
}

@utility border-lg {
  border-image: url("../assets/border-lg.svg") 3 1 1 stretch;
  border-image-outset: 1;
  border-image-repeat: stretch;
  border-image-slice: 2;
  border-image-width: 8px;
  border-style: solid;
  border-width: 2px;
}

@utility border-lg-xs {
  border-image: url("../assets/border-lg.svg") 3 1 1 stretch;
  border-image-outset: 1;
  border-image-repeat: stretch;
  border-image-slice: 2;
  border-image-width: 8px;
  border-style: solid;
  border-width: 2px;
}

@utility white-border-md {
  border-image: url("../assets/white-border-md.svg") 3 1 1 stretch;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 1;
  border-image-width: 1;
  border-style: solid;
  border-width: 5px;
}

@utility blue-border-md {
  border-image: url("../assets/blue-border-md.svg") 3 1 1 stretch;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 1;
  border-image-width: 1;
  border-style: solid;
  border-width: 5px;
}

@utility white-border {
  border-image: url("../assets/white-border.svg") 3 1 1 stretch;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 1;
  border-image-width: 1;
  border-style: solid;
  border-width: 5px;
}

@utility blue-border {
  border-image: url("../assets/blue-border.svg") 3 1 1 stretch;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 1;
  border-image-width: 1;
  border-style: solid;
  border-width: 5px;
}

@utility grid-border-md {
  border-image: url("../assets/grid-md-border.svg") 3 1 1 stretch;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 1;
  border-image-width: 1;
  border-style: solid;
  border-width: 10px;
}

@utility cube-grid-bg {
  background-image: url("../src/assets/cube-grid.svg");
  background-size: 100% 100%;
}

@utility end-cta-bg {
  background-image: url("../src/assets/end-cta-bg.svg");
  background-repeat: repeat;
  background-position: center;
}
