@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

body {
  font-family: 'Albert Sans', sans-serif;
  font-optical-sizing: auto;
}

:root {
  --tox-private-color-black: #000;
}

@theme inline {
  --color-primary: oklch(46.36% 0.1058 251.87deg);
  --color-secondary-primary: oklch(67.75% 0.1381 278.35deg);
  --color-background: oklch(78.51% 0.1421 180.34deg);
  --color-secondary-background: oklch(100% 0 0);
  --color-accent: oklch(88.27% 0.1755 104.11deg);
  --color-warning: oklch(69.06% 0.1963 45.33deg);
  --color-destructive: oklch(47.95% 0.1968 29.23deg);
  --color-border: oklch(0% 0 0);

  --color-foreground: #000;
  --color-card: #ffffff;
  --color-card-foreground: #0a0a0a;
  --color-popover: #ffffff;
  --color-popover-foreground: #0a0a0a;
  --color-secondary: #f5f5f5;
  --color-secondary-foreground: #1a1a1a;
  --color-muted: #f5f5f5;
  --color-muted-foreground: #737373;
  --color-accent-foreground: #1a1a1a;
  --color-border: #e5e5e5;
  --color-input: #e5e5e5;
  --color-ring: white;

  --chart-1: #7a83ff;
  --chart-2: #facc00;
  --chart-3: #05e17a;
  --chart-4: #ff4d50;
  --chart-5: #0099ff;
}

@utility cube-bg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200' fill='none'%3E%3Crect x='10' width='180' height='10' fill='black' fill-opacity='0.05'/%3E%3Crect x='10' y='190' width='180' height='10' fill='black' fill-opacity='0.05'/%3E%3Crect x='200' y='10' width='180' height='9.99999' transform='rotate(90 200 10)' fill='black' fill-opacity='0.05'/%3E%3Crect x='10' y='10' width='180' height='9.99999' transform='rotate(90 10 10)' fill='black' fill-opacity='0.05'/%3E%3C/svg%3E");
  background-size: 200px;
  background-position: 0% 0%;
}

@utility diamond-bg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='269' height='269' viewBox='0 0 269 269' fill='none'%3E%3Cg clip-path='url(%23clip0_215_588)'%3E%3Crect x='141.492' y='1.07108' width='180' height='10' transform='rotate(45 141.492 1.07108)' fill='black' fill-opacity='0.05'/%3E%3Crect x='7.14214' y='135.421' width='180' height='10' transform='rotate(45 7.14214 135.421)' fill='black' fill-opacity='0.05'/%3E%3Crect x='268.772' y='142.492' width='180' height='9.99999' transform='rotate(135 268.772 142.492)' fill='black' fill-opacity='0.05'/%3E%3Crect x='134.421' y='8.14212' width='180' height='9.99999' transform='rotate(135 134.421 8.14212)' fill='black' fill-opacity='0.05'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_215_588'%3E%3Crect width='269' height='269' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-size: 400px;
  background-position: 0% 0%;
}

@layer base {
  body {
    @apply text-foreground bg-background font-medium;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@utility prose-black {
  --tw-prose-bullets: #000;
  --tw-prose-counters: #000;
}
