---
import Create from "@components/icons/Create.astro";
import Tiers from "@components/icons/Tiers.astro";
import Upload from "@components/icons/Upload.astro";
import Dollar from "@components/icons/Dollar.astro";

interface Props {
  steps: readonly {
    readonly title: string;
    readonly description: string;
  }[];
}

const { steps }: Props = Astro.props;

const icons = [Create, Tiers, Upload, Dollar];
---

<div class="relative mx-auto mb-5 h-[unset] w-full lg:h-[100px]">
  <div
    class="absolute top-[40px] left-[calc(100%/8)] z-[1] mx-auto hidden h-5 w-[calc(100%-(100%/4))] border-5 border-black bg-white lg:block"
  >
  </div>
  <div
    class="relative grid grid-cols-1 gap-10 gap-y-14 sm:grid-cols-2 sm:gap-y-12 lg:grid-cols-4 lg:gap-8 lg:gap-y-8"
  >
    {
      Array(4)
        .fill(0)
        .map((_, index) => (
          <div class="mx-auto flex w-full max-w-[400px] flex-col items-center gap-7 sm:mx-[unset] sm:w-[unset] sm:max-w-[unset] lg:gap-0">
            <div class="flex items-center justify-center">
              <div class="relative z-10 flex size-[90px] items-center">
                <div class="h-[70px] w-[5px] bg-black" />
                <div class="flex flex-col items-center">
                  <div class="h-[5px] w-[70px] bg-black" />
                  <div class="relative size-[80px]">
                    <div class="absolute top-0 left-0 z-[1] size-[5px] bg-black" />
                    <div class="absolute top-0 right-0 z-[1] size-[5px] bg-black" />
                    <div class="absolute bottom-0 left-0 z-[1] size-[5px] bg-black" />
                    <div class="absolute right-0 bottom-0 z-[1] size-[5px] bg-black" />
                    <div class="bg-blue flex h-full w-full items-center justify-center">
                      {(() => {
                        const IconComponent = icons[index];
                        return (
                          <IconComponent class="size-[45px]" color="white" />
                        );
                      })()}
                    </div>
                  </div>
                  <div class="h-[5px] w-[70px] bg-black" />
                </div>
                <div class="h-[70px] w-[5px] bg-black" />
              </div>
            </div>
            <div class="flex flex-col items-center justify-start gap-5 lg:hidden">
              <h3>
                <span>{index + 1}.</span>
                {steps[index].title}
              </h3>
              <p class="t-lg">{steps[index].description}</p>
            </div>
          </div>
        ))
    }
  </div>
</div>

<div class="hidden w-full grid-cols-4 gap-8 lg:grid">
  {
    steps.map((step) => {
      return (
        <div class="flex flex-col items-center justify-start gap-4">
          <p class="lg:text-h4 lg:leading-h4 text-h5 leading-h5 font-bold">
            {step.title}
          </p>
          <p class="t-base">{step.description}</p>
        </div>
      );
    })
  }
</div>
